/* RESET */
summary {
  all: unset;
  display: block;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
  color: #FF69B4;
}

/* =====================About =========================*/

/* ------------------Section Title -----------------------*/

main{
  padding: 0rem;
  padding-top: 0rem;
}

h2,
p {
  text-align: center;
}

p {
  margin: 0 auto;
  /* Horizontally center the container */
  width: 80%;
  max-width: 700px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1em;
}

/* ------------------education-----------------------*/

#about-me,
#education {
  /* overflow: hidden; */
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 2rem;
  margin-top: 5rem;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.course-category {
  border: 2px solid #FF69B4;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #ffe1ec;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}


.course-category h5 {
  font-weight: bold;
  color: #FF69B4;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1rem;
}

.course-category ul {
  /* padding-left: 20px;
  list-style-type: disc; */
  margin: 0;
  list-style-type: disc;
  padding-left: 20px;
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 150%;
  /* max-width: 500px; */
  max-height: 200px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
padding-left: 15px;
padding-right: 15px;
  text-align: left;
  overflow-y: scroll;
}

.course-category li {
  text-align: left;
  background-color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  display: inline-block;
  border: 2px solid #FF69B4;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: .8em;
  font-size: .8em;
}

summary {
  color: #FF69B4;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
}

/* .course-category ul::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
} */

.course-category ul::after {
  display: block;
}

details[open] ul {
  display: block;
}



/* ------------------Skills-----------------------*/

#skills {
  overflow: hidden;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem;
}

/* Skills List using Flexbox for left-aligned layout */
.skills-list-right,
.skills-list-left {
  list-style-type: none;
  padding-top: 10px;
  display: flex;
  /* Use Flexbox for layout */
  flex-wrap: wrap;
  gap: 10px 0px;
}

.skills-list-left {
  justify-content: right;
}

.skills-list-right {
  justify-content: left;
}

/* Each skill as a bubble */
.skills-list-left li,
.skills-list-right li {
  background-color: #ffe1ec;
  color: #FF69B4;
  font-size: .8em;
  border-radius: 30px;
  display: inline-block;
  align-items: left;
  justify-content: left;
  border: 2px solid #FF69B4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  max-width: 250px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 5px;
  gap: 15px;

}

/* Hover effect for each bubble */
.skills-list li:hover {
  transform: scale(1.1);
  background-color: #FF69B4;
}

/* Add icons before each skill */
.skill-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 6px;
}

/*----Coursework---*/
#courses {
  margin: auto;
  text-align: center;
  align-items: center;
}

/* Skills List using Flexbox for left-aligned layout */
.course-list {
  list-style-type: none;
  display: flex;
  /* Use Flexbox for layout */
  flex-wrap: wrap;
  gap: 10px 0px;
  align-items: center;
  justify-content: center;

}

/* Each skill as a bubble */
.course-list li {
  background-color: #ffe1ec;
  color: #FF69B4;
  margin-right: 5px;
  font-size: .8em;
  padding: 5px 10px;
  border-radius: 30px;
  display: inline-block;
  align-items: center;
  justify-content: left;
  border: 2px solid #FF69B4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 80px;
  max-width: 200px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
}

/* Hover effect for each bubble */
.course-list li:hover {
  transform: scale(1.05);
}

/* Add icons before each skill */
.skill-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

/* --------------Experience & Projects-------------------*/

/* Experience and Projects Container */
.experience,
.projects {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
}

/* Experience and Project Cards */
.experience-item,
.project-item {
  background: #fff;
  margin: 10px;
  border: 2px solid #FF69B4;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience-item:hover,
.project-item:hover {
  transform: scale(1.01);
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  object-fit: contain;
}

.experience-item h3,
.project-item h3 {
  font-size: 1em;
  margin-bottom: 10px;
  color: #FF69B4;
  display: flex;
  align-items: center;
}

.experience-item p strong,
.project-item p strong {
  font-size: .8em;
  color: #aaa;
  display: block;
  text-align: left;
}

.experience-item li,
.project-item p {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 80%;
  justify-content: center;
  font-size: 0.8em;
  color: #333;
  text-align: left;
}

/* Responsive Design */
@media (max-width: 768px) {

  .experience,
  .projects {
    grid-template-columns: 1fr;
    max-width: 100%;

  }

  .experience-item,
  .project-item {
    max-width: 100%;
  }

  .experience-item h3,
  .project-item h3 {
    font-size: 1.3em;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}



/* ------------Vine Divider -----------*/
.vine-divider {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffe1ec, #fff);
  width: 100%;
  height: auto;
  max-width: 100%;
  /* Ensure no overflow occurs */
}

.vine-divider svg {
  width: 100%;
  height: auto;
  max-width: 100%;
  /* Ensure no overflow occurs */
}
