/* =====================About =========================*/

/* ------------------Section Title -----------------------*/
h2,
p {
  text-align: center;
}

p {
  margin: 0 auto;
  /* Horizontally center the container */
  width: 80%;
  max-width: 700px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1em;
}
/* ------------------education-----------------------*/

#about-me,
#education {
  overflow: hidden;
  max-width: 80%;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 2rem;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.course-category {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  background-color: #ffe1ec;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  border: 2px solid #FF69B4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.course-category h5 {
  font-weight: bold;
  color: #FF69B4;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1rem;
}

.course-category ul {
  /* padding-left: 20px;
  list-style-type: disc; */
  text-align: left;

}

.course-category li {
  /* list-style-type: disc; */
  text-align: left;
  background-color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border-radius: 30px;
  display: inline-block;
  /* align-items: left;
  justify-content: left; */
  border: 2px solid #FF69B4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 1rem;
  ;
}
summary {
  color: #FF69B4;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
}


/* ------------------Skills-----------------------*/

#skills {
  overflow: hidden;
  max-width: 80%;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Skills List using Flexbox for left-aligned layout */
.skills-list-right,
.skills-list-left {
  list-style-type: none;
  padding: 10px 0 0 0;
  margin: 0;
  display: flex;
  /* Use Flexbox for layout */
  flex-wrap: wrap;
  gap: 10px 0px;
}

.skills-list-left {
  justify-content: right;
}

.skills-list-right {
  justify-content: left;

}

/* Each skill as a bubble */
.skills-list-left li,
.skills-list-right li {
  background-color: #ffe1ec;
  color: #FF69B4;
  margin-right: 5px;
  font-size: .8em;
  padding: 5px 10px;
  border-radius: 30px;
  display: inline-block;
  align-items: left;
  justify-content: left;
  border: 2px solid #FF69B4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  /* Minimum width for the bubbles */
  max-width: 250px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
}

/* Hover effect for each bubble */
.skills-list li:hover {
  transform: scale(1.1);
  background-color: #FF69B4;
}

/* Add icons before each skill */
.skill-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 6px;
}

/*----Coursework---*/
#courses {
  margin: auto;
  width: 80%;
  text-align: center;
  align-items: center;
}

/* Skills List using Flexbox for left-aligned layout */
.course-list {
  list-style-type: none;
  display: flex;
  /* Use Flexbox for layout */
  flex-wrap: wrap;
  gap: 10px 0px;
  align-items: center;
  justify-content: center;

}

/* Each skill as a bubble */
.course-list li {

  background-color: #ffe1ec;
  color: #FF69B4;
  margin-right: 5px;
  font-size: .8em;
  padding: 5px 10px;
  border-radius: 30px;
  display: inline-block;
  align-items: center;
  justify-content: left;
  border: 2px solid #FF69B4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 80px;
  max-width: 200px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
}

/* Hover effect for each bubble */
.course-list li:hover {
  transform: scale(1.05);
}

/* Add icons before each skill */
.skill-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

/* --------------Experience & Projects-------------------*/

/* Experience and Projects Container */
.experience,
.projects {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
}

/* Experience and Project Cards */
.experience-item,
.project-item {
  background: #fff;
  margin: 10px;
  border: 2px solid #FF69B4;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience-item:hover,
.project-item:hover {
  transform: scale(1.01);
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  object-fit: contain;
}

.experience-item h3,
.project-item h3 {
  font-size: 1em;
  margin-bottom: 10px;
  color: #FF69B4;
  display: flex;
  align-items: center;
}

.experience-item p strong,
.project-item p strong {
  font-size: .8em;
  color: #aaa;
  display: block;
  text-align: left;
}

.experience-item li,
.project-item p {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 80%;
  justify-content: center;
  font-size: 0.8em;
  color: #333;
  text-align: left;
}

/* Responsive Design */
@media (max-width: 768px) {

  .experience,
  .projects {
    grid-template-columns: 1fr;
    max-width: 100%;

  }

  .experience-item,
  .project-item {
    max-width: 100%;
  }

  .experience-item h3,
  .project-item h3 {
    font-size: 1.3em;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}