/* =====================Portfolio ========================*/
/* ===================== Portfolio Styles ===================== */


/* ------------------ Portfolio Gallery ------------------ */

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1.5fr));
  gap: 20px;
  padding: 20px 50px;
  box-sizing: border-box;
}

.project-item-portfolio {
  background: #ffe1ec;
  padding: 10px 5px;
  margin: 10px;
  border: 3px solid #FF69B4;
  width: 100%;
  max-width: 280px;
  box-sizing: border-box;
  transition: transform 0.4s ease, max-height 0.4s ease;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.project-item-portfolio img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}


.project-tags-portfolio {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.project-item-portfolio p{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, height 0.4s ease;
}
.project-item-portfolio p, .project-item-portfolio a {
  text-decoration: none;
  font-size: .8em;
  width: 80%;
  margin: auto;
  color: #333;
}
.project-item-portfolio:hover, .project-item-portfolio p:hover {
  transform: scale(1.05);
  opacity: 1;
  height: auto;
}

/* Filter Button Styles */
.filter-button-container {
  margin: 100px 20px 20px 60px;
  display: flex;
  justify-content: left;
  gap: 13px;
}

.filter-link {
  padding: 10px 20px;
  background-color: #c20064;
  color: #fff;
  border-radius: 10px 10px 0 0;
  border: 3px solid #333;
  border-bottom: 3px solid #FF69B4;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.filter-link:hover {
  background-color: #FF1493;
  border-color: #FF69B4;
}

.filter-link.active {
  background-color: #FFC0CB;
  color: #c20064;
  border: 2px solid #FF69B4;
  transform: scale(1.1);
}

/* Tag Styles */
.tag, .award {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.8em;
  border-radius: 15px;
}

.tag {
  background-color: #FF69B4;
  color: white;
}

.award {
  background-color: #fff;
  color: lightskyblue;
  border: 3px solid lightskyblue;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .projects-grid {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
